**Set**

* Set is an unordered collection of unique items,
 * Its mutable.
* We denote set by {}

In [1]:
first_set={100,200,300,400,500}
print(first_set)

{400, 100, 500, 200, 300}

In [7]:
second_set={'ac','cooler','fan','washing machine'}
print(second_set)

{'cooler', 'ac', 'fan', 'washing machine'}

In [15]:
second_set={'ac','cooler','fan','washing machine','ac','cooler','fridge'}
print(second_set)

{'cooler', 'fan', 'fridge', 'ac', 'washing machine'}

In [16]:
print('Number of items in second set : ',len(second_set))

Number of items in second set :  5

In [17]:
second_set.remove('fan')
print('Set after removing fan: Number of items are: ',len(second_set))
print(second_set)

Set after removing fan: Number of items are:  4
{'cooler', 'fridge', 'ac', 'washing machine'}

In [18]:
second_set.add('mobile')
print('Set after adding mobile: Number of items are: ',len(second_set))
print(second_set)

Set after adding mobile: Number of items are:  5
{'cooler', 'fridge', 'ac', 'mobile', 'washing machine'}

In [20]:
second_set.clear()
print('Set after clearing all items: Number of items are: ',len(second_set))
print(second_set)

Set after clearing all items: Number of items are:  0
set()

In [21]:
second_set.add('Laptop')
print('Set after adding Laptop: Number of items are: ',len(second_set))
print(second_set)

Set after adding Laptop: Number of items are:  1
{'Laptop'}

In [28]:
set_one={1,2,3,4,5}
set_two={5,6,4}

In [29]:
print('Number of items in set_one',len(set_one))
print('Number of items in set_two',len(set_two))
common=set_one.intersection(set_two)
print('Common items in both sets: ',common)

Number of items in set_one 5
Number of items in set_two 3
Common items in both sets:  {4, 5}

In [30]:
all_items=set_one.union(set_two)
print('All items in both sets: ',all_items)
#

All items in both sets:  {1, 2, 3, 4, 5, 6}

In [31]:
diff_items=set_one.difference(set_two)
print('Items in set_one but not in set_two: ',diff_items)
#

Items in set_one but not in set_two:  {1, 2, 3}

In [32]:
course_one={'Python','Power BI','Excel','SQL','Time Management','Soft Skill'}

In [33]:
course_two={'Python','Excel','SQL','Soft Skill','Azure','GitHub','Tensorflow'}

In [34]:
print('Number of items in course_one: ',len(course_one))
for item in course_one:
  print(item)

Number of items in course_one:  6
Power BI
Excel
SQL
Python
Soft Skill
Time Management

In [35]:
print('Number of items in course_two: ',len(course_two))
for item in course_two:
  print(item)

Number of items in course_two:  7
Excel
SQL
Python
Azure
Soft Skill
Tensorflow
GitHub

In [37]:
common_topics=course_one.intersection(course_two)
print('Number ofCommon topics in both courses: ',len(common_topics))
print('Common topics in both courses: ',common_topics)

Number ofCommon topics in both courses:  4
Common topics in both courses:  {'Soft Skill', 'Excel', 'SQL', 'Python'}

In [38]:
both_courses=course_one.union(course_two)
print('Number of topics in both courses: ',len(both_courses))
print('Topics in both courses: ',both_courses)
#

Number of topics in both courses:  9
Topics in both courses:  {'SQL', 'Python', 'Soft Skill', 'Time Management', 'Power BI', 'Excel', 'Azure', 'Tensorflow', 'GitHub'}

In [39]:
course_one_diff=course_one.difference(course_two)
print('Topics in course_one but not in course_two: ',len(course_one_diff))
print('Topics in course_one but not in course_two: ',course_one_diff)
#

Topics in course_one but not in course_two:  2
Topics in course_one but not in course_two:  {'Power BI', 'Time Management'}

In [41]:
course_two_diff=course_two.difference(course_one)
print('Topics in course_two but not in course_one: ',len(course_two_diff))
print('Topics in course_two but not in course_one: ',course_two_diff)
#

Topics in course_two but not in course_one:  3
Topics in course_two but not in course_one:  {'Tensorflow', 'GitHub', 'Azure'}