In [ ]:
#Recursive functions: If the function is callling to itself ,It's known as recursive functions

In [ ]:

def factorial(num):
  if(num==1):
    return 1
  else:
    return num*factorial(num-1)

In [ ]:
factorial(1)

1

In [ ]:
factorial(3)

6

In [ ]:
factorial(5)

120

In [ ]:
factorial(6)
#6*5*4*3*2*1

720

In [ ]:
#Recursive function Example -2
def reverse_string(text):
  if len(text)==0:
    return ''
  else:
    return (reverse_string(text[1:])+text[0])

In [ ]:
print('Reverse of "am" is: \t',reverse_string('am'))

Reverse of "am" is: 	 ma

In [ ]:
print('Reverse of "pria" is: \t',reverse_string('pria'))

Reverse of "pria" is: 	 airp

In [ ]:
user_text=input('Enter text to reverse')
print('Reverse of',user_text,'is:',reverse_string(user_text))

Enter text to reverseIndia
Reverse of India is: aidnI

**Day-4: Exercise-01**
* list_birds=['pigeon','parrot','sparrow','penguin','peacock']
* convert it to string seprated by '#'
* string must have birds in descending order of their names