##Dictionary: is a mutable collection of key value pairs.
##Keys are unique
* We denote the dictionary by {key:value}

In [2]:
players={'name':'Sachin','age':48,'country':'India','is_retired':True}

In [3]:
print(players)

{'name': 'Sachin', 'age': 48, 'country': 'India', 'is_retired': True}

In [14]:
print('All Keys')
for key in players.keys():
  print(key)

All Keys
name
age
country
is_retired

In [6]:
print('All Values')
for v in players.values():
  print(v)

All Values
Sachin
48
India
True

In [16]:
for k in players.keys():
  print(k,'\t ',players[k])

name 	  Sachin
age 	  48
country 	  India
is_retired 	  True

In [9]:
print('Is retired?',players['is_retired'])

Is retired? True

In [10]:
print('Name of Player',players['name'])

Name of Player Sachin

In [17]:
for k,v in players.items():
  print(k,'\t',v)

name 	 Sachin
age 	 48
country 	 India
is_retired 	 True

In [22]:
for player in players.items():
  print(player)

('name', 'Sachin')
('age', 48)
('country', 'India')
('is_retired', True)

In [21]:
list_one=['ravi','raj','sam']
for index,value in  enumerate(list_one):
  print(f'{index} \t {value}')

0 	 ravi
1 	 raj
2 	 sam

In [23]:
players['sport']='Cricket'

In [24]:
print(players)

{'name': 'Sachin', 'age': 48, 'country': 'India', 'is_retired': True, 'sport': 'Cricket'}

#Create a dictionary for student record
* id, name, class, marks and result of student
* Display all the details

In [25]:
student={}

In [29]:
while True:
  print('\n Student Record System')
  print('1. Add Student')
  print('2. Display Student')
  print('3. Update Student')
  print('4. Delete Student')
  print('5. Exit')
  choice=int(input('Enter your choice(1-5):\t'))
  if choice==1:
    print('Add Student')
    student['name']=input('Enter student name:\t')
    student['class']=input('Enter student class:\t')
    student['marks']=input('Enter student marks:\t')
    print('Student added successfully')

  elif choice==2:
    if student:
      print(' Student Record as follows')
      for k,v in student.items():
        print(k,'\t',v)
    else:
      print('\n No Record found')
  elif choice==3:
    if student:
      key_to_update=input('Enter key to update:(name,class,marks)\t')
      if key_to_update in student.keys():
        new_value=input(f'Enter new {key_to_update}:\t')
        student[key_to_update]=new_value
        print('Record updated successfully')
      else:
        print('Invalid key')

    else:
      print('\n No Record found')

  elif choice==4:
      student.clear()
      print('Record deleted successfully')

  elif choice==5:
    print('Good Bye')
    break

  else:
    print('Inavlid Choice (choose 1-5)')

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	2

 No Record found

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	4
Record deleted successfully

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	1
Add Student
Enter student name:	Ria
Enter student class:	10th
Enter student marks:	490
Student added successfully

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	2
 Student Record as follows
name 	 Ria
class 	 10th
marks 	 490

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	3
Enter key to update:(name,class,marks)	name
Enter new name:	Riya Kumari
Record updated successfully

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	2
 Student Record as follows
name 	 Riya Kumari
class 	 10th
marks 	 490

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	3
Enter key to update:(name,class,marks)	marks
Enter new marks:	486
Record updated successfully

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	2
 Student Record as follows
name 	 Riya Kumari
class 	 10th
marks 	 486

 Student Record System
1. Add Student
2. Display Student
3. Update Student
4. Delete Student
5. Exit
Enter your choice(1-5):	5
Good Bye