In [ ]:
# def function_name(paramters):
#   code block

In [ ]:
def welcome():
  print('Welcome to functions in Python')

In [ ]:
welcome()

Welcome to functions in Python

In [ ]:
def display(username):
  print(f'Welcome to python Mr.\\Ms.{username}')

In [ ]:
display('sam')

Welcome to python Mr.\Ms.sam

In [ ]:
name=input('Enter User Name')
display(name)

Enter User Namekiran
Welcome to python Mr.\Ms.kiran

In [ ]:
def add(num1,num2):
  result= num1+num2
  print(f'Result after adding {num1} and {num2} is: \t {result}')

In [ ]:
f_num=int(input('Enter First Number:\t'))
s_num=int(input('Enter Second Number:\t'))
add(f_num,s_num)

Enter First Number:	13
Enter Second Number:	10
Result after adding 13 and 10 is: 	 23

* Create a function to take username and password from user.
* If username equal to 'sam1256' and password equal to 'pass@1256' then print signin success
* else print invalid user name or password SignIn Failed

In [ ]:
def signin(username,password):
  if((username=='sam1256') and(password=='pass@1256')):
    print('SignIn Success')
  else:
    print('Invalid User Name or Password SignIn Failed')

In [ ]:
username=input('Enter User Name:\t')
password=input('Enter Password:\t')
signin(username,password)

Enter User Name:	sam1256
Enter Password:	pass@1256
SignIn Success

In [ ]:
def multiply(num1,num2):
  result=num1*num2
  return result

In [ ]:
multiply(12,45)

540

In [ ]:
first_number=float(input('Enter First Number:\t'))
second_number=float(input('Enter Second Number:\t'))
result=multiply(first_number,second_number)
print(f'{first_number}X{second_number}=\t{result}')

Enter First Number:	12
Enter Second Number:	5
12.0X5.0=	60.0

In [ ]:
print('10.5*2 Multiplication Result: ',multiply(10.5,2))

10.5*2 Multiplication Result:  21.0

In [2]:
def add(n1,n2):
 return n1+n2

In [3]:
def average(n1,n2):
 return (add(n1,n2)/2)

In [5]:
num1=int(input('Enter First Number:\t'))
num2=int(input('Enter Second Number:\t'))

print(f'Sum of {num1} and {num2} is: ',add(num1,num2))

print(f'Average of {num1} and {num2} is: ',average(num1,num2))

Enter First Number:	11
Enter Second Number:	45
Sum of 11 and 45 is:  56
Average of 11 and 45 is:  28.0

In [22]:
#Variable Length Arguments
def addition(*numbers):
  total=0
  print('\n All Numbers are: ')
  for i in numbers:
    print(i,end=' ')
    total+=i
  return total

In [23]:
print('\n Result: ',addition(12,45))
print('\n Result: ',addition(10,30,40))
print('\n Result: ',addition(12,45,89,9,11,23,11,45))

 All Numbers are:
12 45
 Result:  57

 All Numbers are:
10 30 40
 Result:  80

 All Numbers are:
12 45 89 9 11 23 11 45
 Result:  245

In [27]:
def our_function(**kvpairs):
  for key,value in kvpairs.items():
    print(f'{key}={value}')

In [28]:
our_function(id=1,name='Sam',designation='Manager')

id=1
name=Sam
designation=Manager

In [29]:
our_function(product_name='Herbal Shampoo', Price=1250.25)

product_name=Herbal Shampoo
Price=1250.25

In [30]:
def function_one(*args):
  for arg in args:
    print(arg)

In [31]:
function_one('Raj','Ravi','Neha')

Raj
Ravi
Neha

In [32]:
function_one(12,34)

12
34

In [33]:
function_one(11,15.4,2.3,3.4)

11
15.4
2.3
3.4

In [35]:
def function_two(**kvargs):
  print(kvargs)

In [36]:
function_two(id=1,name='Sam',designation='Manager')

{'id': 1, 'name': 'Sam', 'designation': 'Manager'}

In [38]:
# default arguments
def student_reg(id,name,course='Python'):
  print('Student Registration Complete Details as follows')
  print(f'Student Id: {id}')
  print(f'Student Name: {name}')
  print(f'Course: {course}')

In [42]:
student_reg(1,'Sam')

Student Registration Complete Details as follows
Student Id: 1
Student Name: Sam
Course: Python

In [43]:
student_reg(2,'Neha','Dev OPS')

Student Registration Complete Details as follows
Student Id: 2
Student Name: Neha
Course: Dev OPS

In [45]:
student_reg(13,'Alia')

Student Registration Complete Details as follows
Student Id: 13
Student Name: Alia
Course: Python

## Write a function to take a number from user and print the cube and square of given number

* cube of number means number* number* number
* e.g. cube of 2 is 8 and 3 is 27
* square of number means number*number
* e.g. square of 2 is 4 & 3 is 9

In [48]:
def cube_square(num):
  #print('Cube of',num, 'is', num*num*num)
  print(f'Cube of {num} is {num*num*num}')
  print(f'Square of {num} is {num*num}')

In [49]:
given_number=int(input('Enter Number:\t'))
cube_square(given_number)

Enter Number:	3
Cube of 3 is 27
Square of 3 is 9

In [50]:
#if C Convert celsius to Fahreneheit
#if F Convert  Fahreneheit to celsius
def convert_temp(temp,unit='C'):
  if unit=='C':
    return (temp*9/5)+32
  elif unit=='F':
    return (temp-32)*5/9
  else:
    return 'Invalid Unit , Please use only C Or F'

In [52]:
print('32 ¬∞C is equal to', convert_temp(32),'¬∞F')

32 ¬∞C is equal to 89.6 ¬∞F

In [54]:
print('98 ¬∞F is equal to', convert_temp(98,'F'),'¬∞C')

98 ¬∞F is equal to 36.666666666666664 ¬∞C

In [55]:
print('98 ¬∞C is equal to', convert_temp(98,'C'),'¬∞F')

98 ¬∞C is equal to 208.4 ¬∞F

In [56]:
convert_temp(112,'D')

'Invalid Unit , Please use only C Or F'

## Create a function to calculate product price after discount on doughnut , pizza and cake üç©üçïüéÇ the default discount is 5 %.