if(condtion):
   *  #code block it will execute if condition True


else:
   *  #Code blcok it will execute if condition False

In [ ]:
age=int(input('Enter your age '))
if(age>=18):
    print('You are eligible to vote')
else:
    print('You are not eligible to vote')

print('Your age is ',age)

Enter your age 8
You are not eligible to vote
Your age is  8

In [ ]:
# ask the user to enter marks
# if marks greater than 50 then show: Congrats you have cleared the exam
# else show:  Sorry but you have failed in the exam

In [ ]:
marks=int(input('Enter your marks '))
if(marks>50):
  print('Congrats you have cleared the exam')
else:
  print('Sorry but you have failed in the exam')

Enter your marks 43
Sorry but you have failed in the exam

In [ ]:
mark_percentage=float(input('Enter your percentage with out % :\t'))

if(mark_percentage>90):
    grade='A'
elif(mark_percentage>70):
  grade='B'
elif(mark_percentage>50):
 grade='C'
elif(mark_percentage>40):
 grade='D'
else:
  grade='F'

print(f'Your grade is {grade} marks {mark_percentage} %')

Enter your percentage with out % :	74
Your grade is B marks 74.0 %

** Exercise-02**
---
 * Please take a number from user.
 * Check the number is positive,negative or zero
 * ( using if elif...)
 Display number : positive |negative |zero
---
for example:
* Enter a number:  -2
* Number: -2 negative

In [ ]:
number=int(input('Enter a number '))
if(number>0):
  print(f'Number: {number} positive')
elif(number<0):
  print(f'Number: {number} negative')
else:
    print(f'Number: {number} Zero')

Enter a number 11
Number: 11 positive

Loop: for, while

In [6]:
for num in range(10):
 print(num,end='\t')

0	1	2	3	4	5	6	7	8	9

In [8]:
for num in range(1,11):
 print(num,end='\t')

1	2	3	4	5	6	7	8	9	10

In [9]:
#range (start,stop,setp)
for num in range(1,11,2):
 print(num,end='\t')

1	3	5	7	9

In [17]:
for num in range(0,100,5):
 print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [19]:
given_number=int(input('Enter number to find out table of number: \t'))
print(f'Table of {given_number}')
for num in range(1,11):
  print(f'{given_number} x {num} = {given_number*num}')

Enter number to find out table of number: 	13
Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [28]:
list_cars=['Honda','Toyota','BMW','Tesla','Audi']

In [29]:
print('All cars in list as follows!!!')
for car in list_cars:
  print(car)

All cars in list as follows!!!
Honda
Toyota
BMW
Tesla
Audi

  * while(condtion):
    * #code block

In [31]:
num=10
while(num>0):
  print(num,end='\t')
  num -=1   #num=num-1

10	9	8	7	6	5	4	3	2	1

In [32]:
num=1
while(num<=100):
  print(num,end='\t')
  num+=1
print('\n End of Loop')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100
 End of Loop

In [40]:
#continue: skip that particular iteration and loop will continue after that
for i in range(1,100):
  if(i%5==0):
    continue

  print(i,end='\t')

1	2	3	4	6	7	8	9	11	12	13	14	16	17	18	19	21	22	23	24	26	27	28	29	31	32	33	34	36	37	38	39	41	42	43	44	46	47	48	49	51	52	53	54	56	57	58	59	61	62	63	64	66	67	68	69	71	72	73	74	76	77	78	79	81	82	83	84	86	87	88	89	91	92	93	94	96	97	98	99

In [45]:
#break:it will breakdown the loop
for i in range(1,100):
  if(i%5==0):
   break

  print(i,end='\t')

1	2	3	4

In [46]:
choice='y'
while(choice=='y'):
  given_number=int(input('Enter number to find out table of number: \t'))
  print(f'Table of {given_number}')
  for num in range(1,11):
    print(f'{given_number} x {num} = {given_number*num}')
  choice=input('Do you want to continue (y/n):\t').lower()

Enter number to find out table of number: 	5
Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Do you want to continue (y/n):	y
Enter number to find out table of number: 	6
Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Do you want to continue (y/n):	y
Enter number to find out table of number: 	13
Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
Do you want to continue (y/n):	n

In [51]:
choice=input('Enter a y/n:\t')
print(choice.lower())

Enter a y/n:	India
india

In [56]:
#  assignment operator = e.g. username=sam1256
# equal ==  e.g. if(number==5)
atm_pin=1243
allowed_attempts=3

while(allowed_attempts!=0):
  user_pin=int(input('Enter your pin:\t'))
  if(user_pin==atm_pin):
    print('Welcome to ATM')
    break

  else:
    allowed_attempts-=1

    if(allowed_attempts==0):
      print('Your card has been blocked')
    else:
      print('Wrong Pin Try Again')

Enter your pin:	345435
Wrong Pin Try Again
Enter your pin:	352
Wrong Pin Try Again
Enter your pin:	234
Your card has been blocked

**Exercise: **
Write a number game to find out hidden number between (1 to 10).


1.   Ask the user to guess the hidden number
*. Note: Hidden Number is 7
2.   if he entered number leass than 7 show too Low
3.  If he entered number more than 7 show too High
4. if he entered correct number show Correct Answer
 You have won and end the loop
5. Only 3 attempts are allowed
6. If he have not guess within 3 attempts show You have lost all your attempts

In [59]:
Hidden_number=7
allowed_attempts=3

while(allowed_attempts!=0):
  user_guess=int(input('Enter your guess:\t'))
  if(user_guess==Hidden_number):
    print('You have won')
    break

  else:


    allowed_attempts-=1

    if(allowed_attempts==0):
      print('You have lost all your attempts')
    else:
      if(user_guess>Hidden_number):
        print('Too High')
      else:
        print('Too Low')

Enter your guess:	2
Too Low
Enter your guess:	3
Too Low
Enter your guess:	4
You have lost all your attempts