**Python Introduction**

In [1]:
print('Welcome to Python')

Welcome to Python

In [2]:
print('First Example in Python')

First Example in Python

In [6]:
#input example
username=input('Enter username:')
print('Welcome to Python: ' + username)

Enter username:neha
Welcome to Python: neha

In [7]:
num1=12
num2=13
result=num1+num2
print(result)

25

In [12]:
print(f'First Number {num1} and Second Number {num2} Result: {result}')

First Number 12 and Second Number 13 Result: 25

In [17]:
fnum=int(input('Enter First Number'))
snum=int(input('Enter Second Number'))
result=fnum+snum
print(f'Result after adding {fnum} and {snum} is = \t {result}')

Enter First Number34
Enter Second Number12
Result after adding 34 and 12 is = 	 46

In [18]:
first_name='sam'
last_name='smith'
full_name=first_name+' '+last_name
print(full_name)

sam smith

In [20]:
type(first_name)

str

In [27]:
num=12
type(num)
print(f'{num}')
print(f'Type of fnum {type(fnum)}  and snum  {type(snum)}')

12
Type of fnum <class 'int'>  and snum  <class 'int'>

In [24]:
my_num=12.44
type(my_num)

float

In [34]:
fnum=float(input('Enter First Number: \t'))
snum=float(input('Enter Second Number: \t'))
result=fnum+snum
print(f'Result after adding {fnum} and {snum} is = \t {result}')

Enter First Number: 	67.7896
Enter Second Number: 	12.569
Result after adding 67.7896 and 12.569 is = 	 80.3586

In [35]:
#Boolean or bool
is_active=True
type(is_active)

bool

In [36]:
is_active=False
type(is_active)

bool

In [37]:
print('Is Active User?',is_active)

Is Active User? False

In [38]:
print(f'Is active User? {is_active}')

Is active User? False

In [45]:
# complex type
complex_num=2+3j
print(complex_num)
type(complex_num)

(2+3j)

complex

In [46]:
#Sqeuence Type
#1 list
#list []
list_ex=[10,20,30,40,50]
print(list_ex)
type(list_ex)

[10, 20, 30, 40, 50]

list

In [47]:
cars=['Toyota','Hyundai','BMW','Tesla','Audi']
print(cars)
type(cars)

['Toyota', 'Hyundai', 'BMW', 'Tesla', 'Audi']

list

In [48]:
# Tuple
tuple_ex=(10,20,30,40,50)
print(tuple_ex)
type(tuple_ex)

(10, 20, 30, 40, 50)

tuple

In [53]:
#set
set_ex={10,20,30,40,50}
print(set_ex)
type(set_ex)

{50, 20, 40, 10, 30}

set

In [49]:
#range
range_ex=range(10)
print(range_ex)
type(range_ex)

range(0, 10)

range

In [51]:
range_ex2=range(5)
print(range_ex2)
type(range_ex2)

range(0, 5)

range

In [54]:
#Dictionary
emp={
    "id":1,
    "name":"Sam",
    "salary":20000.76
}
print(emp)
type(emp)

{'id': 1, 'name': 'Sam', 'salary': 20000.76}

dict