In [2]:
class Emp:
  def reg(self):
    self.eno=int(input("Enter Employee Number:"))
    self.ename=input("Enter Employee Name:")
    self.esal=float(input("Enter Employee Salary:"))
  def display(self):
    print("Employee Number:",self.eno)
    print("Employee Name:",self.ename)
    print("Employee Salary:",self.esal)

In [3]:
e1=Emp() #object Creation objectName=ClassName()
e1.reg()

Enter Employee Number:101
Enter Employee Name:Sam
Enter Employee Salary:85000

In [4]:
e1.display()

Employee Number: 101
Employee Name: Sam
Employee Salary: 85000.0

In [5]:
e2=Emp()
e3=Emp()
print('Enter Second Employee Detatils')
e2.reg()
print('Enter Third Employee Detatils')
e3.reg()

Enter Second Employee Detatils
Enter Employee Number:102
Enter Employee Name:Raj
Enter Employee Salary:4500
Enter Third Employee Detatils
Enter Employee Number:103
Enter Employee Name:Alia
Enter Employee Salary:5500

In [7]:
print('First Employee Details')
e1.display()
print('Second Employee Details')
e2.display()
print('Third Employee Details')
e3.display()

First Employee Details
Employee Number: 101
Employee Name: Sam
Employee Salary: 85000.0
Second Employee Details
Employee Number: 102
Employee Name: Raj
Employee Salary: 4500.0
Third Employee Details
Employee Number: 103
Employee Name: Alia
Employee Salary: 5500.0

* constructor: its special kind of method that is
called automaticaly whenever we will create the object of class
* self: for current object

In [9]:
class Car:
  #constructor
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

  def display(self):
    print("Car Name:",self.name)
    print("Car Model:",self.model)
    print("Car Price:",self.price)

In [13]:
car1=Car('Hyundai','i20',10000)
car2=Car('Tata','Harrier',20000)
car3=Car('Maruti','Swift',5000)
car4=Car('Mahindra','Thar',30000)

In [17]:
print('Third Car Details')
car3.display()

Third Car Details
Car Name: Maruti
Car Model: Swift
Car Price: 5000

In [63]:
class product:
  def __init__(self,id,name,price):
    self.id=id
    self.name=name
    self.price=price
  def __str__(self):
      return f'Product Id: {self.id}\t Product Name: {self.name} \t Product Price: {self.price}'

In [64]:
p1=product(101,'Pen',10)
p2=product(102,'Pencil',5)
p3=product(103,'Eraser',2)

In [65]:
print(p1)
print(p2)
print(p3)

Product Id: 101	 Product Name: Pen 	 Product Price: 10
Product Id: 102	 Product Name: Pencil 	 Product Price: 5
Product Id: 103	 Product Name: Eraser 	 Product Price: 2

In [66]:
products=[p1,p2,p3]
for p in products:
  print(p)

Product Id: 101	 Product Name: Pen 	 Product Price: 10
Product Id: 102	 Product Name: Pencil 	 Product Price: 5
Product Id: 103	 Product Name: Eraser 	 Product Price: 2

**Day-05 Exerceise -01**
* Create a class for students , class have following attributes id, name, course, school
* Create 5 instances(objects) of class
* Put in list of  students and display it.
* Note: Please use OOP concepts

In [67]:
#Create a class for students , class have following attributes id, name, course, school
class Student:
  def __init__(self,id,name,course,school):
    self.id=id
    self.name=name
    self.course=course
    self.school=school
  def __str__(self):
    return f'Student Id: {self.id}\t Student Name: {self.name} \t Student Course: {self.course} \t Student School: {self.school}'

In [68]:
#Create 5 instances(objects) of class
stud1=Student(1,'Sam','Fifth','DAV')
stud2=Student(2,'Tom','Sixth','DAV')
stud3=Student(3,'Bob','Seventh','RPS')
stud4=Student(4,'Tim','Eighth','DPS')
stud5=Student(5,'Jack','Ninth','DAV')

In [69]:
#Put in list of students and display it.
students=[stud1,stud2,stud3,stud4,stud5]
for s in students:
  print(s)

Student Id: 1	 Student Name: Sam 	 Student Course: Fifth 	 Student School: DAV
Student Id: 2	 Student Name: Tom 	 Student Course: Sixth 	 Student School: DAV
Student Id: 3	 Student Name: Bob 	 Student Course: Seventh 	 Student School: RPS
Student Id: 4	 Student Name: Tim 	 Student Course: Eighth 	 Student School: DPS
Student Id: 5	 Student Name: Jack 	 Student Course: Ninth 	 Student School: DAV

In [91]:
class BankAccount:
  def __init__(self,account_number,account_holder,balance):
    self.account_number=account_number
    self.account_holder=account_holder
    self.balance=balance
    print('Account Created')

  def display_balance(self):
    print('Account Balance:',self.balance)

  def deposit(self,amount):
    self.balance+=amount
    print('Amount Deposited')
    print('Current Balance:',self.balance)

  def withdraw(self,amount):
    if self.balance>=amount:
      self.balance-=amount
      print('Amount Withdrawn')
      print('Current Balance:',self.balance)
    else:
      print('Insufficient Balance')

  def __str__(self):
    return f'Account Number: {self.account_number} \t Account Holder: {self.account_holder} \t Balance: {self.balance}'

In [92]:
account1=BankAccount('AC-001','Sam',12000)

Account Created

In [93]:
account2=BankAccount('AC-002','Tom',15000)

Account Created

In [94]:
account3=BankAccount('AC-11300','Arsh',20000)

Account Created

In [95]:
account1.display_balance()
account1.deposit(2000)
account1.withdraw(5000)
account1.display_balance()
print(account1)

Account Balance: 12000
Amount Deposited
Current Balance: 14000
Amount Withdrawn
Current Balance: 9000
Account Balance: 9000
Account Number: AC-001 	 Account Holder: Sam 	 Balance: 9000

In [101]:
print('Account 2 Details:\t',account2)
# account2.deposit(int(input('Enter Amount to Deposit:')))
account2.withdraw(int(input('Enter Amount to withdraw:')))

Account 2 Details:	 Account Number: AC-002 	 Account Holder: Tom 	 Balance: 24000
Enter Amount to withdraw:1500
Amount Withdrawn
Current Balance: 22500

In [104]:
print('Account 3 Details: \t',account3)

d_amount=int(input('Enter Amount to Deposit:'))
account3.deposit(d_amount)

w_amount=int(input('Enter Amount to withdraw:'))
account3.withdraw(w_amount)

Account 3 Details: 	 Account Number: AC-11300 	 Account Holder: Arsh 	 Balance: 20000
Enter Amount to Deposit:6500
Amount Deposited
Current Balance: 26500
Enter Amount to withdraw:2000
Amount Withdrawn
Current Balance: 24500

In [82]:
print('Account 2 Details')
print(account2)

Account 2 Details
Account Number: AC-002 	 Account Holder: Tom 	 Balance: 15000

In [83]:
amount=int(input('Enter Amount to Deposit:'))
account2.deposit(amount)

Enter Amount to Deposit:5000
Amount Deposited
Current Balance: 20000

In [85]:
account3.display_balance()  #objectName.MethodName()

Account Balance: 20000

In [90]:
w_amount=int(input('Enter Amount to withdraw: \t'))
account3.withdraw(w_amount)

Enter Amount to withdraw: 	2000
Amount Withdrawn
Current Balance: 18000